<!-- navigasi -->
<div class="contaiener-fluid">
  <div class="side-navbar1 float-start">
    <nav class="nav flex-column">
      <a class="nav-link" href="#"><div class="square"></div></a>

      <a class="nav-link active" aria-current="page" href="#">
        <img src="/img/home.png" alt="" />Active</a>
      <a class="nav-link d-inline-block" href="#">
        <img src="/img/car.png" alt="" /> Link</a>
    </nav>
  </div>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white shadow-sm bg-body rounded"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-tegistrasi">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Muhammad Ferian
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="">
  <div class="side-navbar2 float-start">
    <nav class="nav flex-column">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
      <a class="nav-link d-inline-block" href="#"> Link</a>
    </nav>
  </div>
</div>
<!-- end navigasi -->
