<!-- body -->
<section>
  <div style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">List Car</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-2 p-0">
        <h1 class="main-content-header-title">List Car</h1>
      </div>
      <div class="col-10 pe-4 text-end">
        <a href="/add" class="btn btn-blue">
            <i class="fa-solid fa-plus"></i>+ Add New Car
        </a>
      </div>
    </div>
  </div>

  <!-- Filter Content -->
  <ul class="nav nav-pills mt-4">
    <li class="nav-item ms-4">
      <a class="nav-link active" id="cars-all" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cars-small" href="#">Small</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cars-medium" href="#">Medium</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cars-large" href="">Large</a>
    </li>
  </ul>
</section>
<!-- end body -->

<!-- Content Body -->
<section class="content mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <%cars.forEach(car => { %>
            <div class="col">
                <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/img/inova.png" alt="car-img" class="car-img">
                    </div>
                    <p class="card-text" style="text-transform: uppercase;"><%= car.name %></p>
                    <p class="card-text"><b>Rp <%= car.price %> / hari</b></p>
                    <p class="carrd-text fw-normal mb-5 d-flex align-items-center">
                        <img src="/img/fi_clock.png" alt="clock-icon" srcset="" class="me-2">
                         Update at <%= car.updatedAt %> 
                    </p>

                    <div class="d-flex justify-content-between mb-4">
                      <a id="<% car.id %>"
                        class="btn-delete btn text-danger d-flex align-items-center justify-content-evenly px-xl-4 px-md-3 py-xl-3 py-md-2"
                      >
                        <img src="/img/fi_trash.png" alt="delete-icon" style="width: 18px !important; display: inline-block;"/>
                        Delete
                      </a>

                      <a href="/update?id=<% car.id %>" class="btn btn-success text-light d-flex align-items-center justify-content-evenly px-xl-4 px-md-3 py-xl-3 py-md-2">
                        <img src="/img/fi_edit.png" alt="edit-icon" style="width: 18px !important; display: inline-block;"/>
                        Update
                      </a>
                    </div>
                </div>
                </div>
            </div>
        <% }); %>
    </div>
</section>

<script src="/js/script.js"></script>