body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

.side-navbar1 {
  background-color: #0d28a6;
  height: 100%;
  width: 7%;
  overflow: auto;
}

.side-navbar1 a {
  text-decoration: none;
  color: #fff;
}

.square {
  background-color: #fff;
  width: 30px;
  height: 30px;
}

.side-navbar2 {
  background-color: #ffffff;
  height: 100%;
  width: 15%;
  overflow: auto;
}
.side-navbar2 a {
  text-decoration: none;
  color: #d1d5db;
  font-weight: bold;
}

.btn-blue {
  background-color: #0D28A6;
  color: #fff;
}

.car-img {
  object-fit: cover;
}